:root {
    --backgrounddark: #03312e;
    --backgroundlight: #72b68e;
    --lightfontcolor:#eff1e9;
    --darkfontcolor:#414141;
    --adjustcolor: #00120b;  
}

body {
    background-color: var(--backgrounddark);
    color:var(--darkfontcolor);
    font-family: Helvetica, sans-serif;
}

nav {
    display: flex;
    width: 20%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}

nav img {
    width:30px;
}

h1,h2{
    text-align: center;
    color: var(--lightfontcolor);
    font-family: 'Times New Roman', Times, serif;
}


h3,p {
    margin: 10px;
}

section li {
    list-style-type: none;
    border: 1px solid var(--adjustcolor);
}

section li:first-child {
    border: none;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section > div {

    background: var(--backgroundlight);
    margin: 5px;
    box-shadow: var(--adjustcolor) 0px 13px 27px -5px,var(--adjustcolor) 0px 8px 16px -8px;
}

#series > div {

    width:30%;

}

#films > div {
    width: 48%;
    display: flex;
    align-items: center;
}

#series > div > div {
    display: flex;
    justify-content: space-between;
}

#films > div > div > div {
    display: flex;
    justify-content: space-between;
}

#films div img {
    max-width: 310px;
    margin-left: 10px;
}

#films li:nth-of-type(4) {
    max-height: 200px;
    overflow:auto;
    /* ne marche que sur firefox pour l'instant */
    scrollbar-color: var(--adjustcolor) var(--darkfontcolor);
}

#series div img {
    width: 100%;
}

section ul{
    padding: 0 40px;
}

.barre-progression {
    height : 30px;
    width: 60%;
    margin: auto;
    border: 2px solid var(--adjustcolor);
    background-color: var(--backgrounddark);
}

.progression {
    height:30px;
    background-color: var(--lightfontcolor);
}