:root {
    --backgrounddark: #03312e;
    --backgroundlight: #388659;
    --lightfontcolor:#c9cbc4;
    --darkfontcolor:#a7a3a3;
    --adjustcolor: #00120b;




    
}

body {
    background-color: var(--backgrounddark);
    color:var(--lightfontcolor);
    font-family: Helvetica, sans-serif;
}

h1,h2{
    text-align: center;
    background-color: var(--adjustcolor);
    color: var(--darkfontcolor);
    font-family: 'Times New Roman', Times, serif;
}

section li {
    list-style-type: none;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section div {
    width:30%;
    background: var(--backgroundlight);
    margin: 5px;
    box-shadow: var(--fontcolor) 0px 13px 27px -5px,var(--fontcolor) 0px 8px 16px -8px;
}

section div img {
    width: 100%;
}

section ul{
    padding-right: 40px;
}